<% provide(:title, params[:id]) %>
<% provide(:meta_content, "Vereinsinfo zu den Spielerinnen und Spielern auf der aktuell gültigen Deutschen Tennis-Jugendrangliste im Verein #{params[:id]}.") %>
<div class="container">
  <p class="h2 text-left mt-3 mb-3">
   Spieler aus dem Verein <b><%= params[:id] %></b>
  </p>
  <p>Hier finden Sie alle Spieler aus diesem Verein, die in der aktuellen Periode auf der Rangliste geführt sind.</p>
  <div class="container">
    <div class="row justify-content-md-center border border-dark text-white bg-dark font-weight-bold">
      <div class="col-3 col-md-3">DTB-ID</div>
      <div class="col-5 col-md-3">Name</div>
      <div class="col-2 col-md-3">Position</div>
      <div class="col-2 col-md-3">Punkte</div>
    </div>
    <% @players.each do |key, players| %>
      <div class="row text-white bg-info">
        <div class="col-12 col-md-12 border-left border-right border-dark font-weight-bold"><%= key %></div>
      </div>
      <% players.each do |item| %>
        <div class="row justify-content-md-center border-bottom border-dark">
          <div class="col-3 col-md-3 border-left border-dark"><%= link_to item[:dtb_id], player_path(item[:dtb_id]), class: 'text-info' %></div>
          <div class="col-5 col-md-3"><%= item[:lastname] %>, <%= item[:firstname] %></div>
          <div class="col-2 col-md-3"><%= item[:rank] %></div>
          <div class="col-2 col-md-3 border-right border-dark"><%= item[:score] %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
