<span class="h4">Impressum</span>
<p>Angaben gemäß § 5 TMG</p>
<p><%= CONFIG['imprint_name'] %><br/> 
    <%= CONFIG['imprint_street'] %><br/> 
    <%= CONFIG['imprint_zipcode'] %> <%= CONFIG['imprint_city'] %><br/> 
</p>
<p><strong>Vertreten durch: </strong><br/>
  <%= CONFIG['imprint_name'] %><br/>
</p>
<p><strong>Kontakt:</strong><br/>
  Telefon: <%= CONFIG['imprint_phone'] %><br>
  E-Mail: <%= CONFIG['imprint_mail'] %><br/>
</p>
