<div class="center jumbotron mt-3 mb-1">
  <h5>Willkommen bei Ranking-Info</h5>
</div>
<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title">Ranglisteninformationen</h5>
    <h6 class="card-subtitle mb-2 text-muted">Der Anlaufpunkt zur Deutschen Tennis-Jugendrangliste</h6>
    <p class="card-text">
      Hier finden Sie eine filterbare Version der Deutschen Jugendranglisten. Die Daten werden manuell auf
      Basis der offiziellen Listen des Deutschen Tennisbundes eingepflegt.<br/>
      Der Vorteil zu den offiziellen Listen? Es ist nicht nur das aktuelle Quartal und die Liste zum 
      Jahresabschluss verfügbar, es sind alle importierten Daten seit dem <%= @start %> enthalten!
      <br/><br/>
      Wie steht ein Spieler insgesamt da? Wie in seinem Geburtsjahrgang? Wie war die Entwicklung in den letzten Quartalen?
      Wo stehe ich in meinem Jahrgang in meinem Verband?<br/>
      Diese Fragen kann <i>ranking-info</i> beantworten.
      <br/><br/>
      Viel Spaß beim Stöbern!
    </p>
    <%= link_to "Spielersuche", players_path, class: 'card-link text-info' %>
    <%= link_to "Ranglisten", listings_path, class: 'card-link text-info' %>
    <%= link_to "Vereinsuche", clubs_path, class: 'card-link text-info' %>
    <%= link_to "Informationen zu verfügbaren Daten", status_path, class: 'card-link text-info' %>
  </div>
</div>

