<span class="title is-6"><br/>Gesamtverlauf Jugend</span>
<div class="container mt-3">
  <div class="columns has-text-white has-background-dark has-text-weight-bold">
    <div class="column is-2"><i class="far fa-calendar-alt"></i></div>
    <div class="column is-2"><i class="fas fa-poll"></i></div>
    <div class="column is-1">U11</div>
    <div class="column is-1">U12</div>
    <div class="column is-1">U13</div>
    <div class="column is-1">U14</div>
    <div class="column is-1">U15</div>
    <div class="column is-1">U16</div>
    <div class="column is-1">U17</div>
    <div class="column is-1">U18</div>
  </div>
  <% @complete_rankings.each_with_index do |ran, index| %>
    <div class="columns <%= 'striped' unless index.even? %>">
      <div class="column is-2"><%= ran['year'] %>/<%= ran['quarter'] %></div>
      <div class="column is-2"><%= ran['score'] %></div>
      <div class="column is-1"><%= ran['U11'] %></div>
      <div class="column is-1"><%= ran['U12'] %></div>
      <div class="column is-1"><%= ran['U13'] %></div>
      <div class="column is-1"><%= ran['U14'] %></div>
      <div class="column is-1"><%= ran['U15'] %></div>
      <div class="column is-1"><%= ran['U16'] %></div>
      <div class="column is-1"><%= ran['U17'] %></div>
      <div class="column is-1"><%= ran['U18'] %></div>
    </div>
  <% end %>
</div>
