<span class="h6"><br/>Gesamtverlauf Jugend</span>
<table class="table table-sm table-striped mt-1">
  <thead class="thead-dark">
    <tr>
      <th>Jahr</th>
      <th>Quartal</th>
      <th>Punkte</th>
      <th>U11</th>
      <th>U12</th>
      <th>U13</th>
      <th>U14</th>
      <th>U15</th>
      <th>U16</th>
      <th>U17</th>
      <th>U18</th>
    </tr>
  </thead>
  <tbody>
    <% @complete_rankings.each do |ran| %>
      <tr>
        <td><%= ran['year'] %></td>
        <td><%= ran['quarter'] %></td>
        <td><%= ran['score'] %></td>
        <td><%= ran['U11'] %></td>
        <td><%= ran['U12'] %></td>
        <td><%= ran['U13'] %></td>
        <td><%= ran['U14'] %></td>
        <td><%= ran['U15'] %></td>
        <td><%= ran['U16'] %></td>
        <td><%= ran['U17'] %></td>
        <td><%= ran['U18'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
