<% provide(:title, 'Spielersuche') %>
<% provide(:meta_content, "Suchen von Spielern, die im verfügbaren Datenbestand eine Platzierung auf der Deutschen Tennis-Jugendrangliste hatten.") %>
<div class="container">
  <p class="h2 text-left mt-3 mb-3">
    Spielersuche
  </p>
  <%= form_tag(players_path, method: 'get', class: 'mb-3') do %>
  <div class="form-row">
    <div class="col-auto">
    <%= search_field_tag 'dtb_id', params[:dtb_id], class: 'form-control mb-2 mr-sm-3', placeholder: 'DTB-ID' %>
    </div>
    <div class="col-auto">
    <%= search_field_tag 'lastname', params[:lastname], class: 'form-control mb-2 mr-sm-3', placeholder: 'Nachname' %>
    </div>
    <div class="col-auto">
    <%= search_field_tag 'yob', params[:yob], class: 'form-control mb-2 mr-sm-3', placeholder: 'Geburtsjahr' %>
    </div>
    <div class="col-auto">
    <%= submit_tag 'suchen', class: 'btn btn-info mb-2' %>
    </div>
  <% end %>
</div>
<% if @players.present? %>
   <%= render 'player_result_list' %>
<% else %>
  <% if params[:commit] %>
    <div>Es wurden keine Spieler für diese Suchkriterien gefunden.</div>
  <% else %>
    <%= render 'search_intro' %>
  <% end %>
<% end %>

