<% provide(:title, "Spielerprofil #{@player.firstname} #{@player.lastname}") %>
<div class="container">
  <p class="h2 text-left mt-3 mb-3">
   Spielerprofil
  </p>
<div class="container">
  <div class="row">
    <div class="col-12">
    <%= image_tag("flags/#{@player.nationality.downcase}.svg", alt: "#{@player.nationality}", width: "35") %> 
    <span class="h4 align-bottom"><%= @player.firstname %> <%= @player.lastname %></span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      DTB-ID <i><%= @player.dtb_id %></i>
    </div>
    <div class="col text-right">
        <b><%= link_to @player.club, club_path(@player.club) %></b> / <i><%= @player.federation %></i>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'player_current_ranking' %>
    </div>
    <div class="col">
      <%= render 'player_chart_current' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'player_clubs' %>
    </div>
    <div class="col">
      <%= render 'player_available_data' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'player_chart_complete' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'player_complete_rankings_youth' %>
    </div>
  </div>
</div>
