<div class="container">
  <p class="h2 text-left mt-3 mb-3">
   Spielerprofil
  </p>
<div class="container">
  <div class="row">
    <div class="col-12">
    <%= image_tag("flags/#{@player.nationality.downcase}.svg", alt: "#{@player.nationality}", width: "35") %> 
    <span class="h4 align-bottom"><%= @player.firstname %> <%= @player.lastname %></span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      DTB-ID <i><%= @player.dtb_id %></i>
    </div>
    <div class="col text-right">
        <b><%= @player.club %></b> / <i><%= @player.federation %></i>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="h6"><br/>Aktuelle Position</span>
      <table class="table table-sm table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Altersklasse</th>
            <th>Rang</th>
            <th>Vorquartal</th>
            <th>Änderung</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary">
            <td>U12</td>
            <td>48</td>
            <td>160</td>
            <td>+112</td>
          </tr>
          <tr>
            <td>U13</td>
            <td>160</td>
            <td>160</td>
            <td></td>
          </tr>
          <tr>
            <td>U14</td>
            <td>192</td>
            <td>216</td>
            <td>+24</td>
          </tr>
          <tr>
            <td>U15</td>
            <td>192</td>
            <td>216</td>
            <td>+24</td>
          </tr>
          <tr>
            <td>U16</td>
            <td>192</td>
            <td>216</td>
            <td>+24</td>
          </tr>
          <tr>
            <td>U17</td>
            <td>192</td>
            <td>216</td>
            <td>+24</td>
          </tr>
          <tr>
            <td>U18</td>
            <td>192</td>
            <td>216</td>
            <td>+24</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <span class="h6"><br/>Verlauf aktuelles Jahr</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="h6"><br/>Verlauf letzte 3 Jahre</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="h6"><br/>Bisherige Vereine</span>
    </div>
    <div class="col">
      <span class="h6"><br/>Verfügbare Daten</span>
    </div>
  </div>
</div>
