<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Ranking-Info", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Startseite", root_path %></li>
        <li><%= link_to "Spieler", players_path %></li>
        <li><%= link_to "Listen", '#' %></li>
        <li><%= link_to "Status", status_path %></li>
        <li><%= link_to "Über", about_path %></li>
      </ul>
    </nav>
  </div>
</header>
