<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <b><%= link_to "Ranking-Info", root_path, class: "navbar-brand" %></b>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to "Startseite", root_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Spieler", players_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Listen", listings_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Status", status_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to "Über", about_path, class: 'nav-link' %></li>
    </ul>
  </nav>
</header>
